html {
    box-sizing: border-box;
  }

*, *::before, *::after {
box-sizing: inherit;
}

body {
    background-color: rgb(254, 221, 221);
    font-family: monospace;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    margin-top: 20px;
}


.canvas {
    width: 40vw;
    height: 40vw;
    display: flex;
    flex-wrap: wrap;
    border: 20px solid rgb(251, 202, 202);
    border-radius: 20px;
    background-color: white;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 50px;
}

h1 {
    color: rgb(230, 130, 130);
    font-family: 'VT323', monospace;
    -webkit-transform: scale(1.5, 1);
    -moz-transform: scale(1.5, 1);
    -o-transform: scale(1.5, 1);
    transform: scale(1.5, 1);
    font-size: 50px;
}
img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    width: 80px;
    height: 60px;

}

.palette {
    border: 5px solid rgb(255, 198, 200);
    border-radius: 5px;
    height: 3.5vw;
    width: 17.5vw;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.customColor {
    height: 50%;
    width: 10%;
    border: 1px dashed rgb(233, 233, 233);
    background-color: transparent;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(231, 159, 162);
    padding: 10px;
    border-radius: 10px;
    gap: 8px;
    color: white;
}

.settingsSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.canvas + div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 10px;
}

button {
    font-family: monospace;
    border: none;
    background-color: rgba(129, 74, 74, 0.192);
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    transition: transform 0.2s;
    
}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.clear, .clear + button {
    background-color: rgb(225, 135, 141);
}

footer {
    background-color: rgb(244, 152, 158);
    text-align: center;
    margin-top: 100px;
    padding: 10px 0;
    color: white;
}

a {
    color: rgb(255, 224, 224);
}