html {
    box-sizing: border-box;
  }

*, *::before, *::after {
box-sizing: inherit;
}

body {
    background-color: rgb(254, 221, 221);
    font-family: monospace;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    margin-top: 20px;
}


.canvas {
    width: 40vw;
    height: 40vw;
    display: flex;
    flex-wrap: wrap;
    border: 20px solid rgb(251, 202, 202);
    border-radius: 20px;
    background-color: white;
}

.canvas:hover {
    cursor: cell;
}



header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 30px;
}

header h1 {
    color: rgb(230, 130, 130);
    font-family: 'VT323', monospace;
    -webkit-transform: scale(1.5, 1);
    -moz-transform: scale(1.5, 1);
    -o-transform: scale(1.5, 1);
    transform: scale(1.5, 1);
    font-size: 50px;
}
img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    width: 80px;
    height: 60px;

}

.palette {
    border: 5px solid rgb(255, 198, 200);
    border-radius: 5px;
    height: 49px;
    width: 245px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.customColor {
    height: 50%;
    width: 10%;
    border: 1px dashed rgb(230, 230, 230);
    background-color: transparent;
    cursor:pointer;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(231, 159, 162);
    padding: 10px;
    border-radius: 10px;
    gap: 8px;
    color: white;
}

.settingsSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.canvas + div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 10px;
}

button {
    font-family: monospace;
    border: none;
    background-color: rgba(129, 74, 74, 0.192);
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    transition: transform 0.2s;
}

button[value = "on"] {
    background-color: rgba(182, 87, 90, 0.603);
}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.clear, .clear + button {
    background-color: rgb(225, 135, 141);
}

footer {
    background-color: rgb(244, 152, 158);
    text-align: center;
    margin-top: 50px;
    padding: 10px 0;
    color: white;
}

a {
    color: rgb(255, 224, 224);
}

.unit.gridOn {
    border: 1px solid rgb(230, 230, 230);
}

.tips {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    color: rgb(233, 141, 150);
    background-color: rgba(255, 255, 255, 0.63);
    width: 70vw;
    margin: 50px auto;
    margin-bottom: 0;
    padding: 10px 30px;
    border-radius: 10px;
}

.tips h1 {
    font-size: 20px;
/*     background-color: rgb(100, 150,30);
    background-color: hsl(85, 67%, 35%); */

}

/* [0.23611111111111108, 0.6666666666666666, 0.35294117647058826] */